### An√°lise de Dados com Pandas
* Projeto Final - Trilha DS-PY-004 T√âCNICAS DE PROGRAMA√á√ÉO I (PY) - Turma 890
* Grupo 4

Integrantes: 
- Edineuda Teixeira
- Elian Rei
- Fausto Lucena
- Matheus Calda
- Vinicius Guimaraes



#### Dataset: Home Credit Default Risk (Kaggle)
*Dados est√°ticos das requisi√ß√µes de financiamento. Cada linha representa um empr√©stimo no dataset.*


Dispon√≠vel para download em: [https://www.kaggle.com/competitions/home-credit-default-risk/data?select=application_train.csv](https://www.kaggle.com/competitions/home-credit-default-risk/data?select=application_train.csv)

emojis https://unicode.org/emoji/charts/full-emoji-list.html

------
Considerando os temas estudados neste m√≥dulo e o dataset **home_credit_default_risk_application_100000** (*que √© um recorte das 100.000 primeiras linhas do dataset supracitado*), responda apenas 12 das perguntas a seguir.

Observa√ß√µes e/ou recomenda√ß√µes de tratamento:
- Necess√°rio fatiar de acordo com as colunas listadas na lista **selected_columns** informada abaixo
- Juntar/Tratar os v√°rios tipos de Industry no campo ORGANIZATION_TYPE;
- Juntar/Tratar os v√°rios tipos de Trade no campo ORGANIZATION_TYPE;
- Juntar/Tratar os v√°rios tipos de Transport no campo ORGANIZATION_TYPE;
- Juntar/Tratar os v√°rios tipos de Business Entity no campo ORGANIZATION_TYPE;
- Algumas colunas apresentam outliers que PRECISAM ser desconsiderados ou zerados, como o valor 365243 em DAYS_EMPLOYED.
- As colunas que contam dias levam em considera√ß√£o DATADACOLUNA - HOJE, gerando, muitas vezes, n√∫meros negativos que n√£o devem prejudicar a an√°lise.
- Preferencialmente, sempre ordene os resultados de forma ascendente ou descendente.

Gloss√°rio de apoio:
- block of flats = apartamentos
- AMT = amount / valor
- QRT = Quarter / Trimestre
-  CNT = count / qty / quantidade
- 0 = N√£o / False / No
- 1 = Sim / True / Yes

---
##### Perguntas - **Escolham 12 dentre todas abaixo**:

- 01) Qual √© a idade, em anos, do titular mais jovem?
- 02) Qual a m√©dia do valor de anuidade dos residentes em apartamentos maiores de 50 anos?
- 03) Existe uma correla√ß√£o forte entre ter im√≥vel pr√≥prio e ter carro pr√≥prio? Por que?
- 04) Quais os 3 principais tipos de ocupa√ß√£o de quem mora com parentes?
- 05) Qual √© a diferen√ßa entre a m√©dia de valor de cr√©dito e a m√©dia de valor de anuidade quando filtramos pelos trabalhadores do tipo de organiza√ß√£o Military?
- 06) Considerando os tipos de ocupa√ß√£o, podemos dizer que os "Managers" possuem um valor de anuidade mais alto? Se n√£o, qual √©? 
- 07) Qual √© o hor√°rio e dia da semana que mais trabalhadores dos tipos de organiza√ß√£o Bank & Government optam por requisitar o financiamento?
- 08) Qual a m√©dia de requisi√ß√µes de empr√©stimo entre trabalhadores com tipo de ocupa√ß√£o "Sales staff", que n√£o moram com parentes, declararam n√£o estarem em situa√ß√£o de emerg√™ncia e possuem telefone de trabalho?
- 09) Como voc√™ explica a correla√ß√£o entre o n√∫mero de filhos e idade (em anos)?
- 10) Podemos concluir que, quanto mais tempo empregado, maior o cr√©dito? Por que?
- 11) Qual o desvio padr√£o da quantidade de filhos de quem tem 8 familiares?
- 12) Quantos registros existem em que o n√∫mero de filhos √© maior que o n√∫mero de familiares?
- 13) Qual a m√©dia de dias por estado civil em que o telefone foi alterado de quem tem at√© 3 filhos, at√© 40 anos de idade e tem seu pr√≥prio im√≥vel?
- 14) Qual a quantidade de requisi√ß√µes por escolaridade x possuir o seu pr√≥prio carro x possuir sua pr√≥pria casa?
- 15) Quais os 3 tipos de organiza√ß√£o em que seus empregados mais requisitaram an√°lise de cr√©dito pelo Bureau no √∫ltimo trimestre (com exce√ß√£o do tipo Other)?
- 16) Qual g√™nero requisitou mais an√°lise de cr√©dito na √∫ltima semana?
- 17) Existe alguma inconsist√™ncia no campo que indica o tempo de posse do carro? Ou seja, existem registros em que o requisitante informou n√£o ter carro e informou o tempo ou vice-versa?
- 18) Qual a m√©dia de idade (em anos) por tipo de ocupa√ß√£o e escolaridade?
- 19) Qual a m√©dia de valor de anuidade contratada considerando o n√∫mero de filhos e escolaridade dos requisitantes que solicitaram financiamento em dia √∫til dentro do hor√°rio comercial padr√£o (8h √†s 18h)?
- 20) Quais a m√©dia de cr√©dito, m√©dia de filhos e m√©dia de idade (em anos) de quem declarou estado de emerg√™ncia?
- 21) Quais os tipos de ocupa√ß√£o e tipo de organiza√ß√£o dos requisitantes com idade maior que 60 anos?
- 22) Ao analisar correla√ß√µes, quantidades e agrupamentos entre colunas de marcadores como possuir carro, possuir casa, tipo de moradia, estado civil, escolaridade ou afins, o que chama sua aten√ß√£o?
- 23) Quais as 10 colunas que voc√™ julga serem mais importantes ao avaliar o risco de inadimpl√™ncia? Por que?
- 24) Considerando a quantidade de campos nulos, quais colunas podem ter seu valor substitu√≠do por 0 ou N (N√£o, No, False) sem preju√≠zo para a an√°lise feita aqui?

___
___
___

In [1]:
#importando bibliotecas
import pandas as pd

In [2]:
#importando e visualizando os dados
## Estamos utilizando um DataFrame com as colunas fatiadas do dataframe original
df = pd.read_csv('dados/home_credit-SELECTED-COLUMNS.csv')
df.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,block of flats,"Stone, brick",No,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,block of flats,Block,No,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,NaN,NaN,NaN,-2536.0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,NaN,NaN,NaN,-1562.0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,NaN,NaN,NaN,-1070.0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,NaN,NaN,NaN,-1673.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 36 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   SK_ID_CURR                  100000 non-null  int64
 1   TARGET                      100000 non-null  int64
 2   NAME_CONTRACT_TYPE          100000 non-null  object
 3   CODE_GENDER                 100000 non-null  object
 4   FLAG_OWN_CAR                100000 non-null  object
 5   FLAG_OWN_REALTY             100000 non-null  object
 6   CNT_CHILDREN                100000 non-null  int64
 7   AMT_INCOME_TOTAL            100000 non-null  float64
 8   AMT_CREDIT                  100000 non-null  float64
 9   AMT_ANNUITY                 99993 non-null   float64
 10  AMT_GOODS_PRICE             99919 non-null   float64
 11  NAME_EDUCATION_TYPE         100000 non-null  object
 12  NAME_FAMILY_STATUS          100000 non-null  object
 13  NAME_HOUSING_TYPE           100000 non-null  object
 14  DAYS_BIRTH                  100000 non-null  int64
 15  DAYS_EMPLOYED               100000 non-null  int64
 16  OWN_CAR_AGE                 33981 non-null   float64
 17  FLAG_WORK_PHONE             100000 non-null  int64
 18  FLAG_CONT_MOBILE            100000 non-null  int64
 19  FLAG_EMAIL                  100000 non-null  int64
 20  OCCUPATION_TYPE             68776 non-null   object
 21  CNT_FAM_MEMBERS             99999 non-null   float64
 22  REGION_RATING_CLIENT        100000 non-null  int64
 23  WEEKDAY_APPR_PROCESS_START  100000 non-null  object
 24  HOUR_APPR_PROCESS_START     100000 non-null  int64
 25  ORGANIZATION_TYPE           100000 non-null  object
 26  HOUSETYPE_MODE              49895 non-null   object
 27  WALLSMATERIAL_MODE          49235 non-null   object
 28  EMERGENCYSTATE_MODE         52667 non-null   object
 29  DAYS_LAST_PHONE_CHANGE      99999 non-null   float64
 30  AMT_REQ_CREDIT_BUREAU_HOUR  86563 non-null   float64
 31  AMT_REQ_CREDIT_BUREAU_DAY   86563 non-null   float64
 32  AMT_REQ_CREDIT_BUREAU_WEEK  86563 non-null   float64
 33  AMT_REQ_CREDIT_BUREAU_MON   86563 non-null   float64
 34  AMT_REQ_CREDIT_BUREAU_QRT   86563 non-null   float64
 35  AMT_REQ_CREDIT_BUREAU_YEAR  86563 non-null   float64
dtypes: float64(13), int64(10), object(13)
memory usage: 27.5+ MB

___
___
___

### [   ] Edineuda

### [   ] Elian

### [   ] Fausto

### [üöÄ] Caldas

#### 01) Qual √© a idade, em anos, do titular mais jovem?

In [45]:
# Conferindo os dados
dias = df['DAYS_BIRTH']*(-1)
dias

0         9461
1        16765
2        19046
3        19005
4        19932
         ...
99995    11838
99996    13429
99997    17626
99998    12420
99999    14808
Name: DAYS_BIRTH, Length: 100000, dtype: int64

In [32]:
# Convertendo o valor dias em anos
anos = dias/365
anos

0        25.920548
1        45.931507
2        52.180822
3        52.068493
4        54.608219
           ...
99995    32.432877
99996    36.791781
99997    48.290411
99998    34.027397
99999    40.569863
Name: DAYS_BIRTH, Length: 100000, dtype: float64

In [31]:
# Conferindo os 5 mais novos e os 5 mais velhos
anos.sort_values(ascending=True)

53702    21.030137
73870    21.041096
48401    21.041096
19115    21.041096
65419    21.041096
           ...
20863    68.991781
49288    68.997260
65237    69.002740
79852    69.027397
63316    69.043836
Name: DAYS_BIRTH, Length: 100000, dtype: float64

In [34]:
print(f'O titular mais jovem possui: {int(anos.min())} anos')

O titular mais jovem possui: 21 anos

#### 05) Qual √© a diferen√ßa entre a m√©dia de valor de cr√©dito e a m√©dia de valor de anuidade quando filtramos pelos trabalhadores do tipo de organiza√ß√£o Military?

In [4]:
# Conferindo os dados
tipo_organizacao = df['ORGANIZATION_TYPE']
tipo_organizacao

0        Business Entity Type 3
1                        School
2                    Government
3        Business Entity Type 3
4                      Religion
                  ...
99995                    Postal
99996                     Hotel
99997             Self-employed
99998    Business Entity Type 3
99999             Self-employed
Name: ORGANIZATION_TYPE, Length: 100000, dtype: object

In [5]:
# Excluindo duplicatas
tipo_organizacao = tipo_organizacao.drop_duplicates()
tipo_organizacao

0       Business Entity Type 3
1                       School
2                   Government
4                     Religion
5                        Other
8                          XNA
9                  Electricity
10                    Medicine
12      Business Entity Type 2
13               Self-employed
14           Transport: type 2
17                Construction
18                     Housing
19                Kindergarten
21               Trade: type 7
27           Industry: type 11
28                    Military
31                    Services
34         Security Ministries
37           Transport: type 4
41            Industry: type 1
52                   Emergency
57                    Security
61               Trade: type 2
63                  University
64           Transport: type 3
65                      Police
73      Business Entity Type 1
78                      Postal
94            Industry: type 4
95                 Agriculture
96                  Restaurant
136                    Culture
145                      Hotel
148           Industry: type 7
163              Trade: type 3
165           Industry: type 3
191                       Bank
210           Industry: type 9
242                  Insurance
293              Trade: type 6
296           Industry: type 2
327          Transport: type 1
525          Industry: type 12
682                     Mobile
695              Trade: type 1
761           Industry: type 5
774          Industry: type 10
951             Legal Services
991                Advertising
1427             Trade: type 5
1609                  Cleaning
1659         Industry: type 13
1709             Trade: type 4
1795                   Telecom
2123          Industry: type 8
2236                   Realtor
4668          Industry: type 6
Name: ORGANIZATION_TYPE, dtype: object

In [9]:
# Conferindo quantidade de tipos de organiza√ß√£o
tipo_organizacao.shape[0]

58

In [10]:
tipo_organizacao = pd.DataFrame(tipo_organizacao)

In [16]:
tipo_organizacao = tipo_organizacao.sort_values(by=['ORGANIZATION_TYPE'])

In [17]:
# Ordenando o index
tipo_organizacao.index = range(tipo_organizacao.shape[0])
tipo_organizacao

         ORGANIZATION_TYPE
0              Advertising
1              Agriculture
2                     Bank
3   Business Entity Type 1
4   Business Entity Type 2
5   Business Entity Type 3
6                 Cleaning
7             Construction
8                  Culture
9              Electricity
10               Emergency
11              Government
12                   Hotel
13                 Housing
14        Industry: type 1
15       Industry: type 10
16       Industry: type 11
17       Industry: type 12
18       Industry: type 13
19        Industry: type 2
20        Industry: type 3
21        Industry: type 4
22        Industry: type 5
23        Industry: type 6
24        Industry: type 7
25        Industry: type 8
26        Industry: type 9
27               Insurance
28            Kindergarten
29          Legal Services
30                Medicine
31                Military
32                  Mobile
33                   Other
34                  Police
35                  Postal
36                 Realtor
37                Religion
38              Restaurant
39                  School
40                Security
41     Security Ministries
42           Self-employed
43                Services
44                 Telecom
45           Trade: type 1
46           Trade: type 2
47           Trade: type 3
48           Trade: type 4
49           Trade: type 5
50           Trade: type 6
51           Trade: type 7
52       Transport: type 1
53       Transport: type 2
54       Transport: type 3
55       Transport: type 4
56              University
57                     XNA

In [22]:
# Filtrandro Militares no df
militares = ['Militares']
militares.isIn(df['ORGANIZATION_TYPE'])

AttributeError: 'list' object has no attribute 'isIn'

#### 07) Qual √© o hor√°rio e dia da semana que mais trabalhadores dos tipos de organiza√ß√£o Bank & Government optam por requisitar o financiamento?

#### 15) Quais os 3 tipos de organiza√ß√£o em que seus empregados mais requisitaram an√°lise de cr√©dito pelo Bureau no √∫ltimo trimestre (com exce√ß√£o do tipo Other)?

#### 21) Quais os tipos de ocupa√ß√£o e tipo de organiza√ß√£o dos requisitantes com idade maior que 60 anos?

### [  ] Vinicius